# Configuração do banco de dados PostgreSQL (Aiven)
DATABASE_URL=postgres://avnadmin:AVNS_Bj2e6D_lxvVvyiApBgX@pg-b7344e5-ce1974cr-bedd.g.aivencloud.com:16026/defaultdb?sslmode=require

# Configuração do banco IPTU (com dados filtrados: valor m² > 1800, sem garagens/terrenos/indústria)
IPTU_DATABASE_URL=postgres://avnadmin:AVNS_OZCL90XDQn0uXwHTnbV@pg-210ec680-kalcaterra-04c1.d.aivencloud.com:15805/defaultdb?sslmode=require
